<a href="#wines/<%= _id %>" class="thumbnail plain" style="text-align: center;">
    <img src="<%= icon_photo === null ? 'pics/generic.jpg' : icon_photo %>" height="150" width="125" alt="">
    </br>
   	<textarea rows="3" style="disabled; boarder:none;border-color: Transparent; resize: none;  text-align: center; "><%= name %></textarea>
        <br/>
    <%
    if(start_year !== "") {
        print(''+start_year+'/'+start_month+'/'+start_day+'<br/>');
    } else {
        print('Currently Unscheduled<br/>');
    }
    %>
    
        <div style="overflow:hidden; text-align: center; text-overflow:ellipsis; white-space: nowrap; width:90%;"><%= university %></div> </a>
